.image__agency {
    background-image: url('../../../assets/images/agency/agency.jpg');
    background-size: cover;
    opacity: 0.871;
    position: absolute;
    left: 0%;
    top: 183%;
    width: 53%;
    height: 60%;
    z-index: 200;
}

.our__agency {
    background-color: rgb(215, 214, 214);
    opacity: 0.271;
    position: absolute;
    left: 46%;
    top: 204%;
    width: 53%;
    height: 50%;
}

@media(min-width:1920px) {
    .image__agency {
        top: 170%;
    }
    .our__agency {
        top: 190%
    }
}

.our__agency p:nth-of-type(1) {
    font-size: 28px;
    font-family: "Avenir Next";
    color: rgb(116, 116, 116);
    line-height: 1.2;
    margin-top: 15%;
    margin-left: 23%;
    letter-spacing: 0.08em;
}

.our__agency p:nth-of-type(2) {
    font-size: 16px;
    font-family: "Gill Sans";
    color: black;
    line-height: 1.5;
    text-align: left;
    -moz-transform: matrix( 0.91664481231079, 0, 0, 0.9211021069692, 0, 0);
    -webkit-transform: matrix( 0.91664481231079, 0, 0, 0.9211021069692, 0, 0);
    -ms-transform: matrix( 0.91664481231079, 0, 0, 0.9211021069692, 0, 0);
    margin-top: 3%;
    margin-left: 20%;
}