.white {
  position: absolute;
  top: 135.5%;
  width: 100%;
  height: 2400px;
  background-color: white;
  z-index: -1;
  box-shadow: 0px -120px 60px 100px white;
}

.phone {
  position: absolute;
  margin-top: 650px;
  width: 300px;
  z-index: 1;
  color: rgb(39, 39, 39);
}

@media (min-width: 1920px) {
  .white {
    height: 2500px;
    top: 113%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .white {
    height: 2800px;
    top: 57.5%;
  }
}
