.white {
    position: absolute;
    top: 125.5%;
    width: 100%;
    height: 2200px;
    background-color: white;
    z-index: -1;
}

@media(min-width: 1920px) {
    .white {
        height: 2400px;
        top: 113%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .white {
        height: 3000px;
        top: 57.5%;
    }
}