.Home {
    background-image: url('../../assets/images/homeBackgroundImage/homeBackgroundImage.jpg');
    background-size: 100%;
    background-position: top;
}

.white {
    position: absolute;
    top: 122%;
    width: 100%;
    height: 2200px;
    background-color: white;
    z-index: -1;
}

@media(min-width: 1920px) {
    .white {
        top: 113%;
    }
}