.wrapper-footer-presta {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  background-image: url("../../../assets/images/Footer/Calque723.png");
  position: absolute;
  bottom: 0;
  /* display: none; */
}

.wrapper-footer-presta>div {
  padding: 1em;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 11px;
  /* box-shadow: 2px 0px 0px 0px rgb(226, 226, 226); */
  color: rgb(49, 49, 49);
  font-family: "Gill Sans";
}

.logo_img_presta {
  padding-left: 14em;
  padding-top: 1em;
}

#top1, #top2, #top3 {
  margin-top: 1.3em;
}

.span {
  margin: 0;
}

.equipe {
  grid-column: 11 / 21;
}

.addresse {
  grid-column: 21 / 31;
}

.contact {
  grid-column: 31 / 41;
}

.mentionslégales {
  grid-column: 41 / 50;
}

.mentionslégales>p {
  padding-top: 2em;
}

.mentionslégales>p>a {
  text-decoration: none;
  color: black;
}

@media (max-width: 426px) {
  .wrapper-footer {
    display: none;
  }
  .wrapper-footer-presta {
    display: none;
  }
}