.one {
    position: absolute;
    left: 604px;
    top: 147px;
    width: 394px;
    height: 287px;
    background-color: black;
}

.two {
    position: absolute;
    left: 351px;
    top: 300px;
    background-color: black;
    width: 379px;
    height: 304px;
}

.three {
    position: absolute;
    left: 920px;
    top: 250px;
    width: 520px;
    height: 280px;
    background-color: black;
}

.agency {
    position: absolute;
    left: 250px;
    top: 100px;
    width: 15%;
    font-size: 0.8em;
}