.white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: white;
    z-index: -1;
    color: rgb(45, 45, 45);
}

.images {
    border: 2px black solid;
    /* margin-top: 10em; */
    margin-left: 12em;
    width: 400px
}

.retract1 {
    border: 2px black solid;
    /* margin-top: 10em; */
    margin-left: 14em;
    width: 400px
}

.title_bordereau {
    font-size: 25px;
    font-family: "Avenir Next";
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .white {
        height: 130%;
    }
    .images {
        border: 2px black solid;
        margin-top: 4em;
        margin-left: 13.5em;
        width: 400px;
    }
    .retract1 {
        width: 400px;
        border: 2px black solid;
        margin-top: 4em;
        margin-left: 13.5em;
    }
    .title_bordereau {
        font-size: 30px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

@media(max-width: 768px) {
    .white {
        height: 130%;
    }
    .images {
        margin-left: 6.5em;
        margin-top: 1em;
        width: 200px;
    }
    .retract1 {
        margin-left: 6.5em;
        width: 200px;
    }
    .title_bordereau {
        font-size: 20px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}