form {
  margin-top: 10%;
  background-color: rgb(39, 39, 39);
  width: 100%;
  border: none;
  height: 700px;
}

#contact {
  width: 100%;
  text-align: center;
  color: rgb(210, 210, 210);
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-family: 'Avenir Next';
  padding-top: 2em;
}

.bbb {
  margin-top: 3em;
  display: inline-flex;
  justify-content: center;
}

#nos-bureaux {
  margin-bottom: 3em;
}

.infos {
  width: 30%;
  margin: 0;
  display: inline-block;
  align-self: center;
}

#fs-frm-inputs {
  display: inline-block;
  margin: 0;
  width: 30%;
  border: none;
}

#contact_mobile {
  display: none;
}

input,
textarea {
  color: white;
  font-family: 'Gill Sans';
}

.title {
  font-family: 'Avenir Next';
  font-weight: 500;
  color: rgb(210, 210, 210);
  font-size: 1.6em;
  margin: 0;
}

.parag-contact {
  font-family: 'Gill Sans';
  font-weight: lighter;
  color: rgb(210, 210, 210);
  font-size: 0.8em;
  margin-bottom: 0.4em;
}

.parag-contact-1 {
  font-family: 'Gill Sans';
  font-weight: lighter;
  color: rgb(210, 210, 210);
  font-size: 0.8em;
  margin-bottom: 0.4em;
  margin-top: 2em;
}

#submit {
  position: relative;
  left: 71%;
  margin-top: 1em;
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(210, 210, 210);
  width: 23%;
  height: 25px;
  color: rgb(39, 39, 39);
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder {
  color: rgb(210, 210, 210);
  padding-left: 2em;
}

textarea::placeholder {
  color: rgb(210, 210, 210);
  padding-left: 2em;
  padding-top: 1em;
}

#last-name {
  width: 45%;
  margin-right: 1em;
  height: 28px;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(210, 210, 210);
}

#first-name {
  width: 45%;
  height: 28px;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(210, 210, 210);
}

#company,
#email-address,
#phone,
#subject {
  width: 93.5%;
  margin-top: 1.3em;
  height: 28px;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(210, 210, 210);
}

#message {
  width: 93%;
  margin-top: 1.3em;
  height: 150px;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(210, 210, 210);
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #last-name {
    margin-right: 0.8em;
  }
  #contact {
    font-size: 2.5em;
  }
  #submit {
    left: 53%;
    width: 40%;
    height: 25px;
  }
  input::placeholder {
    color: rgb(210, 210, 210);
    padding-left: 1em;
  }
  textarea::placeholder {
    color: rgb(210, 210, 210);
    padding-left: 1em;
    /* padding-top: 1em; */
  }
  #fs-frm-inputs {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  form {
    margin-top: 1%;
    background-color: rgb(39, 39, 39);
    width: 100%;
    border: none;
    height: 650px;
  }
  #last-name {
    margin-right: 0.8em;
  }
  .title {
    font-family: 'Avenir Next';
    font-weight: 500;
    color: rgb(210, 210, 210);
    font-size: 1.3em;
  }
  #contact {
    top: 2810px;
    font-size: 2em;
  }
  #submit {
    left: 53%;
    width: 40%;
    height: 25px;
  }
}

@media (max-width: 426px) {
  form {
    height: 650px;
  }
  #last-name {
    margin-right: 0.8em;
  }
  #fs-frm-inputs {
    width: 250%;
  }
  #nos-bureaux,
  #contactez-nous {
    display: none;
  }
  #contact_mobile {
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 210, 210);
    padding-bottom: 2em;
  }
  .horaires_title {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-family: 'Avenir Next';
    font-weight: 500;
    color: rgb(39, 39, 39);
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .parag-horaires {
    color: rgb(39, 39, 39);
    margin: 0 auto;
  }
  #submit {
    left: 53%;
    width: 40%;
    height: 25px;
  }
  .mentions_légales_mobiles {
    margin-top: 2em;
    text-align: center;
  }
  .bordereau_mobiles {
    margin-top: 2em;
    text-align: center;
    margin: 0;
  }
  .mentions_légales_mobiles > a,
  .bordereau_mobiles > a {
    text-decoration: none;
    color: black;
  }
}
